{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
        "@semantic-release/changelog",
        {
          "changelogFile": "CHANGELOG.md",
          "changelogTitle": "Laravel Multi-Tenancy"
        }
    ],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
